$white: #fff;
$gray: #ccc;

body {
    background: #eee;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.orders {
    width: 968px;
    background: $white;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid $gray;

    .order {
        background: #eee;
        padding: 5px;
        border: 1px solid $gray;
        cursor: pointer;
    }
}

// form validations
.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}